.breadcrumbs {
  padding: 15px 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include media-breakpoint-up(md) {
    padding: 15px;
  }
  &__item {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
  }
  &__current {
    color: theme-color('gris');
  }
}