.menu
  .menu__container.menu-desplegable
    ul
      li
        a(href="/")
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="none"><path d="M8 15.5V10.8H12V15.5C12 16 12.4 16.4 13 16.4H16C16.5 16.4 17 16 17 15.5V9H18.7C19.2 9 19.4 8.5 19 8.2L10.7 1.2C10.3 0.8 9.7 0.8 9.3 1.2L1 8.2C0.6 8.5 0.8 9 1.3 9H3V15.5C3 16 3.4 16.4 4 16.4H7C7.5 16.4 8 16 8 15.5Z" fill="white"/></svg>
          span Inicio      
      li
        a(href="") Usuarios
      li
        a(href="") Consultas
      li
        a(href="") Planificación
          ul
            li
              a(href="#") Hijo
      li
        a(href="") Producción y QC
      li
        a(href="") Mantenedores
          ul
            li
              a(href="#") Hijo
      li
        a(href="") Interfaces