<!DOCTYPE html>
html(lang="es")
  include ./includes/head
  body
    main
      include ./includes/header
      include ./includes/menu
      .breadcrumbs
        .breadcrumbs__item
          a.breadcrumbs__link(href="#") Consultas
        .breadcrumbs__item
          span.breadcrumbs__separator
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="#219653"><path d="M4.2 7L6.5 4.1 4.2 1.3C4.1 1.1 4 0.9 4 0.7 4 0.5 4.1 0.4 4.2 0.2 4.4-0.1 4.8-0.1 5 0.2L7.8 3.6C8.1 3.9 8.1 4.4 7.8 4.6L5 8C4.8 8.3 4.4 8.3 4.2 8 3.9 7.7 3.9 7.3 4.2 7Z" class="a"/><path d="M0.2 7L2.5 4.1 0.2 1.3C0.1 1.1 0 0.9 0 0.7 0 0.5 0.1 0.4 0.2 0.2 0.4-0.1 0.8-0.1 1 0.2L3.8 3.6C4.1 3.9 4.1 4.4 3.8 4.6L1 8C0.8 8.3 0.4 8.3 0.2 8 -0.1 7.7-0.1 7.3 0.2 7Z" class="a"/></svg>
        .breadcrumbs__item
         a.breadcrumbs__link(href="#") Consulta de Ordenes
        .breadcrumbs__item
          span.breadcrumbs__separator
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="#B6B6B6"><path d="M4.2 7L6.5 4.1 4.2 1.3C4.1 1.1 4 0.9 4 0.7 4 0.5 4.1 0.4 4.2 0.2 4.4-0.1 4.8-0.1 5 0.2L7.8 3.6C8.1 3.9 8.1 4.4 7.8 4.6L5 8C4.8 8.3 4.4 8.3 4.2 8 3.9 7.7 3.9 7.3 4.2 7Z" class="a"/><path d="M0.2 7L2.5 4.1 0.2 1.3C0.1 1.1 0 0.9 0 0.7 0 0.5 0.1 0.4 0.2 0.2 0.4-0.1 0.8-0.1 1 0.2L3.8 3.6C4.1 3.9 4.1 4.4 3.8 4.6L1 8C0.8 8.3 0.4 8.3 0.2 8 -0.1 7.7-0.1 7.3 0.2 7Z" class="a"/></svg>
        .breadcrumbs__item
          span.breadcrumbs__current Detalle de orden
      section.wrapper
        .wrapper__container
          h1 Detalle de orden

          hr
          h5 Datos de la orden
          .orden-detalle
            .row
              .col-xs-12.col-sm-6.col-md-4.col-lg-3
                table
                  tr
                    td Número de Orden:
                    td 332244223
                  tr
                    td Número de Boleta:
                    td 990012356123
                  tr
                    td Número OC Cliente:
                    td 67123008123
                  tr
                    td Fecha de Solicitud:
                    td 26-09-2020.
              .col-xs-12.col-sm-6.col-md-4.col-lg-3
                table
                  tr
                    td Fecha de Despacho:
                    td 27-09-2020
                  tr
                    td Fecha de entrega:
                    td 27-09-2020
                  tr
                    td Nombre Cliente:
                    td Matias
                  tr
                    td Apellido Cliente:
                    td Montesinos
              .col-xs-12.col-sm-6.col-md-4.col-lg-3
                table
                  tr
                    td Dirección Cliente:
                    td Pruebas de Configuración
                  tr
                    td Tienda Venta:
                    td Santa Rosa
                  tr
                    td Atributo Ruta: 
                    td Retiro en tienda
                  tr
                    td Persona que retira:
                    td Jaime Ugarte
              .col-xs-12.col-sm-6.col-md-4.col-lg-3
                a.orden-detalle__planos(href="#")
                  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="60" viewBox="0 0 426 227.2" fill="#606060"><path class="st0" d="M426 67.8c0-0.1 0-0.1 0-0.2 0 0 0 0 0-0.1 0 0 0 0 0 0 0 0 0 0 0-0.1 0-0.2-0.1-0.4-0.1-0.5 0-0.1 0-0.1 0-0.2 0 0 0-0.1 0-0.1 0-0.1 0-0.1-0.1-0.2 0-0.1-0.1-0.2-0.1-0.3 0-0.1-0.1-0.1-0.1-0.2 0 0 0-0.1-0.1-0.1 0 0 0-0.1-0.1-0.1 0 0-0.1-0.1-0.1-0.1 0-0.1-0.1-0.1-0.1-0.2 -0.1-0.1-0.2-0.2-0.2-0.3 0 0 0 0 0-0.1 0-0.1-0.1-0.1-0.1-0.2 -0.1-0.1-0.2-0.2-0.3-0.3 -0.1-0.1-0.1-0.1-0.2-0.2 0 0-0.1-0.1-0.1-0.1 -0.1-0.1-0.2-0.1-0.2-0.2 -0.1-0.1-0.2-0.1-0.2-0.2 0 0-0.1-0.1-0.1-0.1 0 0-0.1 0-0.1 0 -0.1 0-0.1-0.1-0.2-0.1 -0.1 0-0.2-0.1-0.2-0.1 -0.1-0.1-0.3-0.1-0.4-0.2 -0.1 0-0.1 0-0.2-0.1l-9.6-2.9c0 0 0 0 0 0l-0.1 0c0 0 0 0 0 0l-9.6-2.9c0 0 0 0 0 0l-9.4-2.9c0 0 0 0 0 0l-9.6-2.9c0 0 0 0 0 0L365 46c0 0 0 0 0 0l-9.6-2.9c0 0 0 0 0 0l-25.9-7.9 -2.8-0.8c0 0 0 0 0 0l-47.8-14.5c0 0 0 0 0 0l-9.6-2.9c0 0 0 0 0 0l-19.1-5.8c0 0 0 0 0 0l-9.6-2.9c0 0 0 0 0 0l-19.1-5.8c0 0 0 0 0 0l-7.2-2.2c-0.9-0.3-2-0.3-2.9 0L209 0.9c-0.2 0.1-0.4 0.2-0.7 0.3l-17.8 5.4c-0.2 0-0.5 0.1-0.7 0.1l-9.6 2.9c-0.2 0.1-0.5 0.2-0.7 0.3l-17.7 5.4c-0.2 0-0.5 0.1-0.7 0.1l-9.6 2.9c-0.3 0.1-0.5 0.2-0.7 0.3L133.3 24c-0.3 0-0.5 0.1-0.8 0.2l-9.6 2.9c-0.3 0.1-0.5 0.2-0.7 0.3L3.5 63.4c-0.1 0-0.1 0-0.2 0.1 -0.1 0-0.3 0.1-0.4 0.2 -0.1 0-0.2 0.1-0.3 0.1 -0.1 0-0.1 0.1-0.2 0.1 0 0-0.1 0.1-0.1 0.1 -0.1 0.1-0.2 0.1-0.3 0.2 -0.1 0.1-0.2 0.2-0.3 0.2 -0.1 0.1-0.1 0.1-0.2 0.2 -0.1 0.1-0.2 0.2-0.3 0.3 -0.1 0.1-0.1 0.1-0.2 0.2 -0.1 0.1-0.2 0.2-0.2 0.3 0 0.1-0.1 0.1-0.1 0.2 -0.1 0.1-0.2 0.3-0.2 0.4 0 0.1-0.1 0.1-0.1 0.2 -0.1 0.2-0.2 0.4-0.2 0.7 0 0 0 0.1 0 0.1 0 0.2-0.1 0.4-0.1 0.5 0 0 0 0 0 0.1 0 0.1 0 0.1 0 0.2 0 0.1 0 0.2 0 0.3v30.3c0 1.8 0.9 3.4 2.4 4.3l208 123.7c0 0 0 0 0 0 0 0 0 0 0 0 0.1 0.1 0.2 0.1 0.3 0.1 0.1 0 0.2 0.1 0.2 0.1 0.1 0.1 0.2 0.1 0.4 0.1 0.1 0 0.2 0.1 0.3 0.1 0.1 0 0.3 0.1 0.4 0.1 0.1 0 0.1 0 0.2 0 0.2 0 0.4 0 0.6 0s0.4 0 0.6 0c0.1 0 0.1 0 0.2 0 0.1 0 0.3 0 0.4-0.1 0.1 0 0.2-0.1 0.3-0.1 0.1 0 0.2-0.1 0.4-0.1 0.1 0 0.2-0.1 0.2-0.1 0.1 0 0.2-0.1 0.3-0.1 0 0 0 0 0 0 0 0 0 0 0 0l208-123.7c1.5-0.9 2.4-2.5 2.4-4.3V68.2C426 68.1 426 67.9 426 67.8zM131 35.1c-0.6 0.5-1 1.1-1.3 1.9 -1 2.6 0.2 5.5 2.8 6.5l9.3 3.7c0.6 0.2 1.2 0.4 1.8 0.4 2 0 3.9-1.2 4.7-3.2 1-2.6-0.2-5.5-2.8-6.5l-9.3-3.7c-0.4-0.1-0.8-0.2-1.1-0.3l77.9-23.6 3.1 0.9 74.9 22.7 -5.3 2.1c-2.6 1-3.8 3.9-2.8 6.5 0.8 2 2.7 3.2 4.6 3.2 0.6 0 1.2-0.1 1.8-0.4l9.3-3.7c1.9-0.8 3.1-2.5 3.1-4.4l106.6 32.3 -22 12.3 -2.5 1.4c0 0 0 0 0 0l-6.9 3.8 -19.3 10.8c0 0 0 0 0 0l-5.7 3.2 -19.3 10.8 -1-0.4c-0.5-0.2-1-0.3-1.5-0.3l-3.6-1.4c-2.6-1-5.5 0.2-6.5 2.8 -0.8 2-0.2 4.2 1.4 5.6l-39.5 22.1 -68.6 38.3L17.7 69.5 131 35.1zM10 76.7l198 110.5v26.2L10 95.6V76.7zM416 95.6L218 213.4v-26.2l117.3-65.5c0 0 0 0 0 0l5.7-3.2c0 0 0 0 0 0l12.7-7.1c0 0 0 0 0 0l8.7-4.9c0 0 0 0 0 0l4.3-2.4 0.4-0.2c0 0 0 0 0 0l12.7-7.1c0 0 0 0 0 0l8.3-4.7 17.8-10c0 0 0 0 0 0l4.5-2.5 5.4-3V95.6z"/><path class="st0" d="M201.3 59.9l-9.3-3.7c-2.6-1-5.5 0.2-6.5 2.8 -1 2.6 0.2 5.5 2.8 6.5l9.3 3.7c0.6 0.2 1.2 0.4 1.8 0.4 2 0 3.9-1.2 4.7-3.2C205.1 63.9 203.9 61 201.3 59.9z"/><path class="st0" d="M173.4 48.9l-9.3-3.7c-2.6-1-5.5 0.2-6.5 2.8 -1 2.6 0.2 5.5 2.8 6.5l9.3 3.7c0.6 0.2 1.2 0.4 1.8 0.4 2 0 3.9-1.2 4.7-3.2C177.2 52.8 176 49.9 173.4 48.9z"/><path class="st0" d="M259.6 56.7c0.6 0 1.2-0.1 1.8-0.4l9.3-3.7c2.6-1 3.8-3.9 2.8-6.5s-3.9-3.8-6.5-2.8l-9.3 3.7c-2.6 1-3.8 3.9-2.8 6.5C255.7 55.5 257.6 56.7 259.6 56.7z"/><path class="st0" d="M220.5 78.5c0.4 0.2 0.9 0.3 1.4 0.3l3.7 1.5c0.6 0.2 1.2 0.4 1.8 0.4 2 0 3.9-1.2 4.7-3.2 1-2.6-0.2-5.5-2.8-6.5l-9.3-3.7c-0.4-0.2-0.9-0.3-1.3-0.3l-3.4-1.3c-1.2-0.6-2.7-0.7-4-0.1 -1.9 0.8-3.2 2.6-3.2 4.6s1.3 3.9 3.2 4.7L220.5 78.5z"/><path class="st0" d="M294.8 107.9l9.3 3.7c0.5 0.2 1 0.3 1.4 0.3l3.6 1.4c0.6 0.2 1.2 0.4 1.8 0.4 2 0 3.9-1.2 4.7-3.2 1-2.6-0.2-5.5-2.8-6.5l-9.3-3.7c-0.5-0.2-0.9-0.3-1.4-0.3l-3.6-1.4c-2.6-1-5.5 0.2-6.5 2.8C291 104 292.3 106.9 294.8 107.9z"/><path class="st0" d="M270.6 87.6c-2.6-1-5.5 0.2-6.5 2.8 -1 2.6 0.2 5.5 2.8 6.5l9.3 3.7c0.5 0.2 0.9 0.3 1.4 0.3l3.7 1.4c0.6 0.2 1.2 0.4 1.8 0.4 2 0 3.9-1.2 4.7-3.2 1-2.6-0.2-5.5-2.8-6.5l-9.3-3.7c-0.5-0.2-0.9-0.3-1.4-0.3L270.6 87.6z"/><path class="st0" d="M242.7 76.6c-2.6-1-5.5 0.2-6.5 2.8 -1 2.6 0.2 5.5 2.8 6.5l9.3 3.7c0.5 0.2 0.9 0.3 1.4 0.3l3.7 1.5c0.6 0.2 1.2 0.4 1.8 0.4 2 0 3.9-1.2 4.7-3.2 1-2.6-0.2-5.5-2.8-6.5l-9.3-3.7c-0.5-0.2-0.9-0.3-1.4-0.3L242.7 76.6z"/><path class="st0" d="M231.7 67.8c0.6 0 1.2-0.1 1.8-0.4l9.3-3.7c2.6-1 3.8-3.9 2.8-6.5 -1-2.6-3.9-3.8-6.5-2.8l-9.3 3.7c-2.6 1-3.8 3.9-2.8 6.5C227.8 66.6 229.7 67.8 231.7 67.8z"/></svg>
                  span Ver Planos
          

          hr
          h5 Productos y servicios
          table.table.table-responsive-md
            thead
              tr
                th Cod Producto
                th Descripción Producto
                th UME
                th Cant
                th Precio Venta
            tbody
              tr.table-bg
                td 812392138
                td Tableto Masisa
                td TAB
                td 19
                td 123.990
              tr 
              tr
                td 7098213
                td Servicio Enchapado 1mm
                td ML
                td 24
                td 123.990
              tr
                td 7098213
                td Servicio Enchapado 1mm
                td ML
                td 24
                td 123.990
              tr.table-bg
                td 812392138
                td Tableto Masisa
                td TAB
                td 19
                td 123.990
              tr 
              tr
                td 7098213
                td Servicio Enchapado 1mm
                td ML
                td 24
                td 123.990
              tr
                td 7098213
                td Servicio Enchapado 1mm
                td ML
                td 24
                td 123.990



      include ./includes/footer